html, body, div {
  height: 100%;
}

.Content {
  display: flex;
}

.LeftContainer {
  flex: 4;
}

.RightContainer {
  flex: 1;
}

.search {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
}