html,
body,
#app,
#root,
#app > div {
  height: 100%;
}

.content {
  display: flex;
  height: 100%;
}

.leftContainer {
  flex: 4;
}

.rightContainer {
  flex: 1;
}

.search {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  max-width: 400px;
  z-index: 10;
}
